.DS_Store
.keep
*.log
*.sql
*.sqlite
.idea/*
.env
php.conf.ini
*.phar
*.phar.1
.htaccess
wp-config.php
wp-config-sample.php
debug.log
wordpress/wp-content/uploads
wordpress/wp-content/cache
mysql/*
logs/nginx/*
!logs/nginx/.keep
_trash



