.DS_Store
.keep
*.log
*.sql
*.sqlite
.idea/*
.env
php.conf.ini
*.phar
*.phar.1
.htaccess
wp-config.php

wordpress/wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

mysql/*
logs/nginx/*
!logs/nginx/.keep
_trash



