.DS_Store
.keep
*.log
*.sql
*.sqlite
.idea/*

wordpress/*
!wp-content/
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
wp-content/themes/twenty*/
wp-content/uploads/*

mysql/*
logs/nginx/*
!logs/nginx/.keep
_trash
mysql/*

